// Specific CSS for your home-page
h1{
  font-size: 42px;
}
h2 {
  font-size: 24px;
  margin-bottom: 2em;
}

.home {
  display: grid;
}

.banner {
  background-size: cover;
  background-position: center;
  height: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 1em;
}

.main {
  padding: 20px;
  margin: 0 auto;
  color: white;
  text-align: center;
  background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
  background-blend-mode: multiply,multiply;
}

// img
img {
  width: 370px;
  height: 220px;
  border-radius: 5px;
}


.small_box {
  width: fit-content;
  height: auto;
  text-align: center;
  padding: 30px;
  margin: 4em auto;
  border: 2px solid $white;
  border-radius: 4px;
  box-shadow: 0 10px 50px $light-gray;
  a {
    text-decoration: none;
    color: $white !important;
    &:hover {
      color: $red !important;
    }
  }
}

.margin {
  padding: 50px;
  margin: 30px;
}
