<div class="container">
  <h1>Book this game</h1>
  <div class="form-wrapper" style="width: 400px; margin: 0 auto;">

      <%= simple_form_for [ @game, @booking ] do |f| %>
        <%= f.input :booking_start, class: "form-control" %>
        <%= f.input :booking_end, class: "form-control" %>
        <%= f.button :submit, "Go", class: "btn btn-primary" %>
      <% end %>
  </div>
</div>
