<h1>Welcome to Game Rent!</h1>

<h2><div>Don't buy</div>
<div>BUT, borrow your favorite games!</div></h2>


<div>super fun games</div>
<div>Shared by fellow games</div>
<div>Top views by users</div>
<div>Top 5 games by users</div>


<h3><div>What we have....</div></h3>
<div>+10,000 games</div>
<div>+398 users</div>


<h3><div>Haven't you joined Game Rent yet?</div></h3>
<div>Start today!</div>
<div>You can borrow 3 games for free.</div>


<div>Sign up now</div>
<div>log in</div>