

<div class="body">
  <div>
    <h1><strong>Welcome to Game Rent!</strong></h1>
    <h3>
      <br>DON'T BUY
      <br>BUT, borrow your favorite games!
    </h3>
  </div>


  <div class="card-games">
    <div class="container">
      <img id="img" src= "https://res.cloudinary.com/dsgl1xjqn/image/upload/v1613471812/1_beyhaz.png" />
      <div class="cards">
        <div>
          <h5>Super fun games</h4>
        </div>
      </div>
    </div>

    <div class="container">
      <img id= "img" src="https://res.cloudinary.com/dsgl1xjqn/image/upload/v1613472432/2_adpne2.png" />
      <div class="cards">
        <div>
          <h5>Shared by fellow gamers</h5>
        </div>
      </div>
    </div>

    <div class="container">
      <img id="img" src="https://res.cloudinary.com/dsgl1xjqn/image/upload/v1613472433/3_x71keo.png" />
      <div class="cards">
        <div>
          <h5>Top view by users</h5>
        </div>
      </div>
    </div>

    <div class="container">
      <img id="img" src="https://res.cloudinary.com/dsgl1xjqn/image/upload/v1613472433/4_zy1yx8.png" />
      <div class="cards">
        <div>
          <h5>Top 5 games by users</h5>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="small_box">
    <div class="text-center">
      <br><h3><strong>What we have</strong></h3>
      <br>+10,000 games
      <br>+398 users
    </div>
  </div>

  <div class="card-games">
    <div class="container">
      <img id="img2" src= "https://res.cloudinary.com/dsgl1xjqn/image/upload/v1613474356/2_3_gluvh3.jpg" />
    </div>

    <div class="container">
      <img id= "img2" src="https://res.cloudinary.com/dsgl1xjqn/image/upload/v1613474356/2_4_x2ghxi.jpg" />
    </div>
  </div>

  <div class="card-games">
    <div class="container">
      <img id="img2" src= "https://res.cloudinary.com/dsgl1xjqn/image/upload/v1613474356/2_1_qqct4z.jpg" />
    </div>

    <div class="container">
      <img id= "img2" src="https://res.cloudinary.com/dsgl1xjqn/image/upload/v1613474356/2_2_yspaj5.jpg" />
    </div>
  </div>


  <br>
    <div class="small_box2">
      <div class="text-center">
        <h3>
          Haven't you joined our Game Rent yet?
          <br>Start today!
          <br>You can borrow 3 games for free
        </h3>
        <br>
        <% unless user_signed_in? %>
          <%= link_to "Sign up", new_user_registration_path, class: "btn" %>
          <%= link_to "Log in", new_user_session_path, class: "btn" %>
        <% end %>
      </div>
    </div>

  <div class="margin"></div>
</div>




