<br>
<br>
<br>
<div class="text-center">
  <h1><strong>Welcome to Game Rent!</strong></h1>
  <br>
  <br>
  <br>

  <h3>
    <br>DON'T BUY
    <br>BUT, borrow your favoirte games!
  </h3>

</div>

<br>
<br>
<br>

<br>
<br>
<br>

<div class=" " id="cards">
  <div class="d-flex justify-content-between text-justify">
    <div class="container border border-primary" id="cards"><ul>Super fun games</ul></div>
    <div class="container border border-primary" id="cards"><ul>Shared by fellow gamers</ul></div>
    <div class="container border border-primary" id="cards"><ul>Top views by users</ul></div>
    <div class="container border border-primary" id="cards"><ul>Top 5 games by users</ul></div>
  </div>
</div>


<br>
<br>
<br>

<br>
<br>
<br>

<div class="container border border-primary col-4">
  <div class="text-center">
    <br><h3>What we have</h3>
    <br>+10,000 games
    <br>+398 users
  </div>
</div>


<br>
<br>
<br>

<div class="text-center container col-6 border border-primary">
  <h3>
    <br>Haven't you joined our Game Rent yet?
    <br>Start today!
    <br>You can borrow 3 games for free
  </h3>
  <br>
  <% unless user_signed_in? %>
    <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary" %>
    <%= link_to "Log in", new_user_session_path, class: "btn btn-primary" %>
  <% end %>
  <br>
  <br>
</div>

<br>
<br>
<br>

<br>
<br>
<br>
