<br>
<br>
<br>
<div class="text-center">
  <h1><strong>Welcome to Game Rent!</strong></h1>
  <br>
  <br>
  <br>

  <h3>
    <br>DON'T BUY
    <br>BUT, borrow your favoirte games!
  </h3>

</div>

<br>
<br>
<br>

<br>
<br>
<br>

<div class="container">
  <div class="d-flex justify-content-between">
    <ul>Super fun games</ul>
    <ul>Shared by fellow gamers</ul>
    <ul>Top views by users</ul>
    <ul>Top 5 games by users</ul>
  </div>
</div>


<br>
<br>
<br>

<br>
<br>
<br>

<div class="container">
  <div class="text-center">
    <br><h3>What we have</h3>
    <br>+10,000 games
    <br>+398 users
  </div>
</div>


<br>
<br>
<br>

<div class="text-center container">
  <h3>
    <br>Haven't you joined our Game Rent yet?
    <br>Start today!
    <br>You can borrow 3 games for free
  </h3>
  <br>
  <br><a href="..." class= "btn btn-primary">Sign up now</a>
  <br>
  <br><a href="..." class= "btn btn-primary">Log in</a>
</div>

