<div class="container index">
  <div class="col-xs-auto">
    <h1>Games</h1>
    <div class="row col-xs-12">
      <% @games.each do |game| %>
      <div class="col col-xs-12 col-sm-8 col-md-4">
        <% @img = cloudinary_url(game.photo.key) %>
        <% @card_title = link_to(game.title, game_path(game)) %>
        <% @card_description = game.description %>
        <% @card_owner = game.user.username %>
        <%= render 'shared/card' %>
      </div>
      <% end %>
    </div>
  </div>
</div>
