.btn {
  color: $white;
  background-color: $red;
  border-color: none;
  &:hover {
    color: $red;
    background-color: $white;
    border-color: $red;
  }
}

a {
  text-decoration: none;
  color: $white !important;
  &:hover {
    color: $red;
  }
}
