.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 9px 20px 32px -13px $light-gray !important;
  display: flex;
  align-items: center;
  margin-bottom: 2em;
  border-radius: 5px;
  a{
    color: $grey !important;
    &:hover{
      text-decoration: none;
      color: $red !important;
    }
  }
  img {
    height: 100%;
    width: 120px;
    object-fit: cover;
  }
  h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }
  p {
    font-size: 12px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
  }
  .card-product-infos {
    padding: 16px;
    overflow: hidden;
    width:100%;
    .truncated {
      // flex: 1;
      width: 90%;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}
