.btn {
  a{
    color: $white !important;
    &:hover{
      text-decoration: none;
      color: $red !important;
    }
  }
}

.user-dashboard {
    padding: 0 20px;
}

.user-dashboard h1 {
    color: #0e1a35;
    font-size: 30px;
    font-weight: 500;
    margin: 0;
    padding: 21px 0;
}
.dashboard {
    border: 1px solid #d4d9e3;
    display: inline-block;
    padding: 15px;
    width: 100%;
}

@media only screen and (max-device-width: 767px) {

.gutter{
    padding: 0;
}
}

